/*
*{
	margin:0;
	padding:0;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
  color: #6F3736;
}      

/* Clear floats 

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix{
  *zoom: 1;
}

/* Layout styles 

body{
    background: #eee url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAMAAAC6sdbXAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRF3d3d////riJKgAAAAAJ0Uk5T/wDltzBKAAAAFUlEQVR42mJgBAEGGMmAxAYCgAADAAGGABmnk/7aAAAAAElFTkSuQmCC);
    margin: 0;
    font-family: 'Lucida sans', Arial, Helvetica;
    font-size: small;
}
#main{
    margin: 20px auto 0 auto;
    width: 960px;
}

aside{
    float: left;
    margin-left: -266px;
    width: 250px;
}

#content{
    float: left;
    width: 100%;
}
/* Vertical menu 

#menu li{
  margin: 0 0 3px 0;
}

#menu a{
  display: block;
  *display: inline-block;
  *width: 240px;
  text-decoration: none;
  background: #1d1d1d;
  color: #d6d6d6;
  padding: 10px 5px;
  text-transform: uppercase;
  font: bold 12px Arial,Helvetica;
  border-radius:5px;
  box-shadow: 0 1px 0 #ccc;
}

#menu a:hover{
    color: #eee;
    background: #9c9c9c;
    background: linear-gradient(top, #bbb, #999);
}

#menu .expandable{
    position: relative;
}

#menu .expandable:before,
#menu .expandable:after{
  content: '';
  position: absolute;
  right: 5px;
  margin-top: 5px;
  border-top: 6px solid #444;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}

#menu .expandable:before{
   border-top-color: #fff;
   margin-top: 6px;
}

#menu .expanded:after{
  border-top: 0;
  border-bottom: 6px solid #444;
}

#menu .expanded:before{
    border-top: 0;
    border-bottom: 6px solid #fff;
}

#menu ul a{
    background: #474747;
    text-transform: none;
    font-weight: normal;
}

#menu ul a:hover{
    background: #fafafa;
    color: #444;
}
#workspace{
	border: 1px solid;
	height: 150%;
	position: absolute;
	width: 81%;
}
#bottom-panel{
	border: 1px solid;
    height: 30%;
    margin-left: 20%;
    margin-top: 32%;
    position: absolute;
    width: 40%;
	
}
#default-tool{
	 border: 1px solid #447799;
    height: 130px;
    margin-left: 5px;
    margin-top: 5px;
    position: absolute;
    width: 200px;
}

*/